<h3 class="mt-2 text-center">ایجاد مجموعه جدید</h3>
<div class="w-50 mx-auto">
    <%- include("../includes/validationErrors.ejs") %>
</div>
<div class="d-flex align-items-center justify-content-center">
    <form action="/category/addcategory" class="w-50" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputTitle" class="sr-only">عنوان</label>
            <input id="inputTitle" type="title" name="title" class="form-control mb-2" placeholder="عنوان" autofocus />
        </div>
        <div class="form-group">
            <label for="inputParent" class="sr-only">والد</label>
            <Input type="select" name="parent" id="inputParent" class="form-control mb-2" placeholder="والد">

            <% for (let item of allcategoryparent) { %>
                <option value={item._id} key={item._id}>
                    <%= item.title %>
                </option>
                )
                <% } %>
                    </Input>
        </div>
        <div class="form-group">
            <label for="selectedThumbnail">تصویر</label>
            <div class="input-group ">
                <input type="file" class="custom-file-input" name="thumbnail" id="selectedThumbnail"
                    aria-describedby="inputGroupFileAddon03" />
                <label id="thumbStatus" class="custom-file-label" for="inputGroupFile03">عکس مورد نظر را انتخاب
                    کنید</label>
            </div>
        </div>
        <div class="form-group">

            <label for="inputDesc" class="sr-only00">توضیحات </label>
            <textarea name="body" id="body" class="form-control"></textarea>
        </div>
        <div class="row">
            <input type="submit" value="ثبت " class="btn btn-success m-2" />
            <a href="/category" class="btn btn-warning m-2">انصراف</a>
        </div>
    </form>
</div>